<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Messenger</title>
    </head>
    <body>
        <header>
            <h1>Welcome to the best messenger! :)</h1>
        </header>
        <h3>
            <a href="{% url 'chats:chat_list' %}">Chat list</a>
        </h3>
        <form action="{% url 'chats:create_chat' %}" method="post" class="create_chat_form">
            {% csrf_token %}
            <div class="create_chat_form">
                <label for="title">Enter new chat title: </label>
                <input name="title" id="title" required>
            </div>
            <div class="create_chat_form">
                <input type="submit" value="Create">
            </div>
        </form>
        <form action="{% url 'chats:modify_chat' %}" method="post" class="modify_chat_form">
            {% csrf_token %}
            <div class="modify_chat_form">
                <label for="modify_chat_id">Enter chat_id to modify: </label>
                <input name="modify_chat_id" id="modify_chat_id" required>
                <label for="new_title">Enter new title for chosen chat: </label>
                <input name="new_title" id="new_title" required>
            </div>
            <div class="modify_chat_form">
                <input type="submit" value="Modify">
            </div>
        </form>
    </body>
</html>